

.square{
    padding: 5px;
    margin: 10px;
    /* max-height: 200px;
    min-height: 199px;
    max-width: 200px;
    min-width: 199px; */
}

.photoRow{
    display: flex;
}

#background{
    max-width: none;
    background-color: #F4F2ED;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.card{
    border-radius: 20px;
}

.logo{
    display: block;
}