a {
    color:#f57f17;
}

.card-image{
    min-height: 100%;
    max-height: 200px;
}

.logo{
    width: 100%;
    padding: none;
    margin-top: 40px;
    margin-bottom: none;
}

.square{
    padding: 5px;
    margin: 10px;
}

html {background-color: #F5FBF6}

#background{
    max-width: none;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#backButton{
    margin-top: 40px;
    margin-bottom: none;
}

.card{
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {
    .card-image{
        max-height: 100px;
    }
  }